<div class="warpper">
  <div class="container">

    <div class="header">
      <div class="text">CPU Usage chart</div>
    </div>


    <!-- <div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="gauge">

    <div data-netdata="example.random2"
        data-dimensions="random"
        data-dygraph-theme="sparkline"
        data-width="100%"
        data-height="20vh"
        data-after="-600"
        data-points="600"
        data-title="1/second (netdata&nbsp;default)"
        data-units="something"
        data-colors="#888"
        >
      </div>
  </div>
</div> -->
    <!-- <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="outbout">
        <div class="myfullchart">
          <div data-netdata="tc.world_out" data-host="//london.my-netdata.io" data-common-max="tc-world-out" data-chart-library="dygraph"
            data-title="EU - London, traffic we send per service" data-width="100%" data-height="40vh" data-after="-300"></div>
        </div>
      </div>
    </div> -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="outbout">
        <div class="myfullchart {{ ipa }}">
          <div id="{{ ipa }}" data-netdata="netdata.server_cpu"  data-common-max="tc-world-out" data-chart-library="dygraph"
            data-title="dd{{ ipa }}fff"  data-width="100%" data-height="250px" data-after="-300"></div>
        </div>

      </div>
    </div>
  </div>
</div>