<!-- <div class="warpper">

  <div class="container">
    <div class="col-one">
      <div class="text">Disk Usage</div>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="gauge">
    <div class="chart_canvas">
        <br/>
        <div data-netdata="system.io" data-host="//192.168.60.220:19999" data-append-options="percentage" data-dimensions="out" data-chart-library="gauge" data-gauge-max-value="100" data-width="100%"
          data-before="0" data-after="-480" data-points="480" data-units="%" data-title="Disk Write"
          data-colors="#66AA00"></div>
    </div>
  </div>
</div>
</div>

</div> -->