.warpper {
    width: 87vw;
    height: 100%;
    .col-one {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      width: 100%;
      height: 80px;
      .row-one {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        .row-one-col-one {
          display: flex;
          align-items: center;
          width: 100%;
          height: 40%;
          .text {
            padding-left: 50px;
            font-size: 24px;
          }
        }
        .row-one-col-two {
          display: flex;
          align-items: center;
          width: 100%;
          height: 60%;
          .text {
            padding-left: 50px;
            font-size: 32px;
            color: #3f51b5;
          }
        }
      }
      .row-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 23.33%;
        height: 100%;
        .container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 95%;
          height: 90%;
          border-radius: 4px;
          background: #fff;          
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          .inner-container {
            display: flex;
            flex-direction: column;
            width: 95%;
            height: 90%;
            .container-col-one {
              display: flex;
              align-items: center;
              width: 100%;
              height: 40%;
              border-left: 4px solid #1457ba;
              -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
              -moz-box-sizing: border-box;    /* Firefox, other Gecko */
              box-sizing: border-box;         /* Opera/IE 8+ */
              .text {
                  display: flex;
                  align-items: center;
                  padding-left: 10px;
                  font-size: 14px;
                  font-weight: 500;
                  color: #3f51b5;
                  .sub-text {
                    padding-left: 5px;
                    font-size: 13px;
                    color: black;
                  }
              }
            }
            .container-col-two {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: 60%;
              .container-col-two-row-one {
                display: flex;
                align-items: center;
                width: 35%;
                height: 100%;
                .can-toggle {
                  padding-left: 10px;
                  .text {
                    font-size: 12px;
                  }
                }
                
              }
              .container-col-two-row-two {
                display: flex;
                align-items: center;
                width: 65%;
                height: 100%;
                .text {
                  font-weight: 500;
                  font-size: 18px;
                }
              }
              .container-col-two-row-three {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                .text {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .row-three {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 23.33%;
        height: 100%;
        .container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 95%;
          height: 90%;
          border-radius: 4px;
          background: #fff;          
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          .inner-container {
            display: flex;
            flex-direction: column;
            width: 95%;
            height: 90%;
            .container-col-one {
              display: flex;
              align-items: center;
              width: 100%;
              height: 40%;
              border-left: 4px solid #1457ba;
              -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
              -moz-box-sizing: border-box;    /* Firefox, other Gecko */
              box-sizing: border-box;         /* Opera/IE 8+ */
              .text {
                  display: flex;
                  align-items: center;
                  padding-left: 10px;
                  font-size: 14px;
                  font-weight: 500;
                  color: #3f51b5;
                  .sub-text {
                    padding-left: 5px;
                    font-size: 13px;
                    color: black;
                  }
              }
            }
            .container-col-two {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: 60%;
              .container-col-two-row-one {
                display: flex;
                align-items: center;
                width: 35%;
                height: 100%;
                .can-toggle {
                  padding-left: 10px;
                }
              }
              .container-col-two-row-two {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 100%;
                .text {
                  font-weight: 500;
                  font-size: 18px;
                }
              }
              .container-col-two-row-three {
                display: flex;
                align-items: center;
                width: 40%;
                height: 100%;
                .text {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .row-four {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 23.33%;
        height: 100%;
        .container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 95%;
          height: 90%;
          border-radius: 4px;
          background: #fff;          
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          .inner-container {
            display: flex;
            flex-direction: column;
            width: 95%;
            height: 90%;
            .container-col-one {
              display: flex;
              align-items: center;
              width: 100%;
              height: 40%;
              border-left: 4px solid #1457ba;
              -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
              -moz-box-sizing: border-box;    /* Firefox, other Gecko */
              box-sizing: border-box;         /* Opera/IE 8+ */
              .text {
                  display: flex;
                  align-items: center;
                  padding-left: 10px;
                  font-size: 14px;
                  font-weight: 500;
                  color: #3f51b5;
                  .sub-text {
                    padding-left: 5px;
                    font-size: 13px;
                    color: black;
                  }
              }
            }
            .container-col-two {
              display: flex;
              flex-direction: row;
              width: 100%;
              height: 60%;
              .container-col-two-row-one {
                display: flex;
                align-items: center;
                width: 35%;
                height: 100%;
                .can-toggle {
                  padding-left: 10px;
                }
              }
              .container-col-two-row-two {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 100%;
                .text {
                  font-weight: 500;
                  font-size: 18px;
                }
              }
              .container-col-two-row-three {
                display: flex;
                align-items: center;
                width: 35%;
                height: 100%;
                .text {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    .col-two {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 290px;
      .container {
        width: 90%;
        height: 90%;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        .warpper2 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .container_inner {
              display: flex;
              flex-direction: column;
              width: 98%;
              height: 90%;
              .header {
              display: flex;
              align-items: center;
              width: 100%;
              height: 10%;
              border-left: 4px solid #1457ba;
              -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
              -moz-box-sizing: border-box;    /* Firefox, other Gecko */
              box-sizing: border-box;         /* Opera/IE 8+ */
              .text {
                  padding-left: 10px;
                  font-size: 1.1vw;
                  font-weight: 500;
                  color: #3f51b5;
              }
              .icon-container {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: auto;
                  height: 100%;
                  margin-left: 5px;
                  mat-icon {
                      padding-top: 10px;
                      font-size: 12px;
                      color: #3f51b5;
                      cursor: default;
                  }
              }
              }
              .body {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  height: 90%;
                  .body-table {
                      display: flex;
                      flex-direction: column;
                      width: 100%;
                      height: 100%;
                      .body-table-row-one {
                          display: flex;
                          flex-direction: row;
                          width: 100%;
                          height: 14%;
                          margin-top: auto;
                          .btable-col-one-row {
                              display: flex;
                              flex-direction: row;
                              width: 14%;
                              justify-content: center;
                              margin-top: auto;
                              padding-left: 25px;
                              .text {
                                  width: 100%;
                                  font-size: 15px;
                                  text-align: left;
                              }
                          }
                          .btable-col-two-row {
                              display: flex;
                              flex-direction: row;
                              width: 35%;
                              input {
                                  height: 20px;  
                                  font-size: 15px;
                                  color: rgb(73, 73, 73);
                              }
                              .username_disable {
                                pointer-events:none;
                              }
                              .password_disable {
                                pointer-events:none;
                              }
                              mat-form-field {
                                  width: 300px;
                              }
                          }
                      }
                  }
                  .body-menu {
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      width: 100%;
                      height: 15%;
                      margin-top: 4%;
                      .button-container {
                          display:flex;
                          width: 25%;
                          height: auto;
                          button {
                              width: 45%;
                              height: auto;
                              margin: auto;
                              border-radius: 20px;
                              background: #3f51b5;
                              color: #fff;
                          }
                      }
                  }
              }
          }
        }
      }
    }

    .col-three {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 530px;
      .container {
        width: 90%;
        height: 90%;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
    }
}


::ng-deep .mat-tooltip {
  font-size: 12px;
}


.switcher {
  display: inline-block;
  width: 80px;
  height: 25px;
  border-radius: 30px;
  position: relative;
  background: #2f50ae;
  border-radius: 4px;
}

.switcher:hover {
  background: #253e86;
  .switcher__toggle {
    box-shadow: 1px 3px 5px 0px #5f5d5d;
  }
}

.auth_on {
  background: #69be28;
  label#off {
    color: #fff;
  }
  .switcher__toggle {
    box-shadow: 1px 3px 5px 0px #5f5d5d;
  }
  label#on {
    color: #59a023
  }
}

.auth_on:hover {
  background: #61ad26;
}

.switcher__input {
  display: none;
}

.switcher__label {
  text-align: center;
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 24px;
  color: #92a3d5;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 21px;
  width: 38px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  left: 2px;
  top: 2px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle:hover {
  box-shadow: 5px 10px #888888;
}

.checked_mode {
  color: #2a479a;
}

.ssl_checked {
  left: 50%;
}

#table::-webkit-scrollbar-track {
  border-radius: 10px;
  // background-color: #F5F5F5;
  background: #2f50ae;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#table::-webkit-scrollbar {
  width: 5px;
  // background-color: #F5F5F5;
  background: #2f50ae;
}

#table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555555;
}