<div class="warpper">

  <div class="col-one">
    <div class="row-one">
      <div class="row-one-col-one">
        <div class="text">Menu: System Configuration</div>
      </div>
      <div class="row-one-col-two">
        <div class="text">XSOS-288</div>
      </div>
    </div>
  </div>

  <div class="col-two">
    <div class="container">
      <div class="row-one">
        <app-system-cpu-usage></app-system-cpu-usage>
      </div>

      <div class="row-two">
        <app-system-memory-usage></app-system-memory-usage>
      </div>

      <div class="row-three">
        <app-system-disk-usage></app-system-disk-usage>
      </div>
    </div>
  </div>

  <div class="col-three">
    <div class="container">
      <app-temperature-chart></app-temperature-chart>
    </div>
  </div>

  <div class="col-four">
    <div class="container">
      <app-humidity-chart></app-humidity-chart>
    </div>
  </div>

</div>

<!-- <div class="container" style="width: 90%; padding-top: 10px; text-align: center; color: #AAA">
  <div style="font-size: 7vw;">why netdata?</div>
  <br/>
  <div style="font-size: 2vw; color: white;">These charts visualize the same data...</div>



  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#gauge" aria-controls="gauge" role="tab" data-toggle="tab">Gauge.js</a></li>
      <li role="presentation"><a href="#easypiechart" aria-controls="easypiechart" role="tab" data-toggle="tab">Easy Pie Chart</a></li>
  </ul>


  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="gauge">

          <div style="display: inline-block; width: 35.8%">
              <div style="font-size: 1.2vw; color: #666; padding-top: 10px;"><i class="fa fa-comment"></i> I can trace an issue like this</div>
              <br/>
              <div data-netdata="example.random2"
                      data-dimensions="random"
                      data-chart-library="gauge"
                      data-gauge-max-value="32767"
                      data-width="100%"
                      data-after="-600"
                      data-points="600"
                      data-title="1/second (netdata&nbsp;default)"
                      data-units="important metric"
                      data-colors="#5A5"
                      ></div>
          </div>
          <div style="display: inline-block; width: 50%">
              <div style="font-size: 1.2vw; color: #666;"><i class="fa fa-comment"></i> Can you trace an issue like these?<br/>&nbsp;<br/></div>
              <div data-netdata="example.random2"
                      data-dimensions="random"
                      data-chart-library="gauge"
                      data-gauge-max-value="32767"
                      data-width="45%"
                      data-after="-600"
                      data-points="60"
                      data-title="Updates Every 10&nbsp;Sec"
                      data-units="important metric"
                      data-colors="#C55"
                      ></div>
              <div data-netdata="example.random2"
                      data-dimensions="random"
                      data-chart-library="gauge"
                      data-gauge-max-value="32767"
                      data-width="45%"
                      data-after="-600"
                      data-points="2"
                      data-title="Updates Every 5&nbsp;Mins"
                      data-units="important metric"
                      data-colors="#C55"
                      ></div>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="easypiechart">

          <div style="display: inline-block; width: 25%">
              <div style="font-size: 1.2vw; color: #666; padding-top: 10px;"><i class="fa fa-comment"></i> I can trace an issue like this</div>
              <br/>
              <div data-netdata="example.random2"
                      data-dimensions="random"
                      data-chart-library="easypiechart"
                      data-easypiechart-max-value="32767"
                      data-width="100%"
                      data-after="-600"
                      data-points="600"
                      data-title="1/second (netdata&nbsp;default)"
                      data-units="important metric"
                      data-colors="#5A5"
                      ></div>
          </div>
          <div style="display: inline-block; width: 40%">
              <div style="font-size: 1.2vw; color: #666;"><i class="fa fa-comment"></i> Can you trace an issue like these?<br/>&nbsp;<br/></div>
              <div data-netdata="example.random2"
                      data-dimensions="random"
                      data-chart-library="easypiechart"
                      data-easypiechart-max-value="32767"
                      data-width="45%"
                      data-after="-600"
                      data-points="60"
                      data-title="Updates Every 10&nbsp;Sec"
                      data-units="important metric"
                      data-colors="#C55"
                      ></div>
              <div data-netdata="example.random2"
                      data-dimensions="random"
                      data-chart-library="easypiechart"
                      data-easypiechart-max-value="32767"
                      data-width="45%"
                      data-after="-600"
                      data-points="2"
                      data-title="Updates Every 5&nbsp;Mins"
                      data-units="important metric"
                      data-colors="#C55"
                      ></div>
          </div>
      </div>
  </div>
  <div style="font-size: 1.5vw;">Hover on the chart below, to see the selected value on the charts above!</div>
  <div data-netdata="example.random2"
          data-dimensions="random"
          data-dygraph-theme="sparkline"
          data-width="100%"
          data-height="20vh"
          data-after="-600"
          data-points="600"
          data-title="1/second (netdata&nbsp;default)"
          data-units="something"
          data-colors="#888"
          ></div>
</div> -->
