.warpper {
    width: 100%;
    height: 100%;
    .container {
        display: flex;
        width: 100%;
        height: 100%;
        button {
            margin: auto;
            background: #3f51b5;
        }     
    }

    .showDesc {
        font-weight: 500;
        background: #555555;
        box-shadow: none;
        position:relative;
        bottom:30px;
        left:0px;   
        // visibility:hidden;
    }
    .showDesc:hover {
        // visibility: visible;
    }
}